p Search album id on your collection
form(method="GET", action="/albums-search" enctype="application/json")
    input(id="query", type="text", name="query")
    button(id="album-search" type="submit") search