p(class="all_albums_title") All albums
div(id='albums', class="all_albums_container")
    each album in albums
        div(class="single_album")
            img(id=album.id class="allAlbumsImage" src=album.imagePath)
            div(class="bottom-left")= album.name