html
    head
        link(rel="stylesheet" type="text/css" href="styles/styles.css")
        title dj navigator
    body
        div(class="grid-container")
            div(class="spotify-search")
                include spotify-search-menu.pug

            div(id="spotify-album" class="spotify-album")
                if spotifySearch === true
                    include spotify-albums-search-results
            div(id="spotify-track" class="spotify-track")
                if spotifySearch === true
                    include spotify-tracks-search-result

            div(id="all-collection-albums-left" class="all-collection-albums-left")
                    include all-albums-view
            div(id="all-collection-albums-right" class="all-collection-albums-right")
                    include all-albums-view

            div(id="album-view-left", class="album-view-left")
            div(id="album-view-right" class="album-view-right")


script(src='scripts/scripts.js' type="text/javascript")