p DJ Navigator
form(method="GET", action="/spotify-search" enctype="application/json")
    input(id="query", type="text", name="query" class="spotify_search_input", placeholder='O_o Search on Spotify...')