body {
    margin:0;
    color: #E3E3E6;
    background-color: #131217;
}

.spotify-search {
    font-size: 40px;
    font-weight: bold;
    grid-area: spotify-search;
}

.spotify-track {
    grid-area: spotify-track;
}

.spotify-album {
    grid-area: spotify-album;
}

.all-collection-albums-left {
    grid-area: all-collection-albums-left;
    background-color: #1a191f;
}

.all-collection-albums-right {
    grid-area: all-collection-albums-right;
    background-color: #1a191f;
}

.album-view-left {
    grid-area: album-view-left;
}

.album-view-right {
    grid-area: album-view-right;
}

.grid-container {
    display: grid;
    margin: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'spotify-search spotify-search'
    'spotify-album spotify-track'
    'all-collection-albums-left all-collection-albums-right'
    'album-view-left album-view-right';
    grid-gap: 24px;
    padding: 64px 32px 64px 32px;
}

.grid-container > div {
    font-family: 'Karla', sans-serif;
    font-style: normal;
    text-align: center;
    border-radius: 8px;
}

.spotify_search_input{
    border:none;
    padding: 16px 32px;
    border-radius: 100px;
    background-color: #1a191f;
    color: #CACACD;
    width: 400px;
    position: center;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
}

.spotify_search_button{
    visibility: hidden;
}

.table {
    table-layout: auto;
    border-collapse: collapse;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    background-color: #1a191f;
}


.table tr img {
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.tableTdImg {
    text-align: center;
}

.tableTdButton {
    text-align: center;
}

.addAlbumButton, .addTrackButton, .deleteAlbumButton {
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 100px;
    border:none;
    background-color: #493B53;
    cursor: pointer;
    color: #131217;
}

.addAlbumButton:hover, .addTrackButton:hover, .deleteAlbumButton:hover {
    background-color: #B28C00;
    transition: 0.2s;
}

.table td, .table th {
    padding: 8px;
}

.table tr:hover {
    background-color: #26242e;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2f2735;
    font-size: 14px;
    font-weight: lighter;
    color: #CACACD;
}

.all_albums_container {
    align-items: flex-start;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.all_albums_title{
    font-size: 20px;
}

.single_album {
    margin: 5px;
    float: left;
    width: 200px;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.single_album:hover {
    background-color: #B28C00;
    color: #1a191f;
    font-weight: bold;

}

.bottom-left {
    padding: 15px;
    text-align: center;
}

.allAlbumsImage {
    width: 200px;
    height: 200px;
}

.album-view-image {
    width: 300px;
    height: 300px;
    margin: 10px;
}

.track-view-image {
    width: 300px;
    height: 300px;
    margin: 10px;
}